@import "../../csscomponents/default";

.shopPage__sort {
  font-size:$fSizeText;
  display: flex;
  width: 100%;
  border-bottom: 1px solid white;
  height: 40px;
}

.shopPage__sort__item {
  margin-left: 20px;
  height: fit-content;
  display: flex;
  align-items: center;
  transition: .3s ease all;
  position: relative;
}

.shopPage__sort__item__name{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shopPage__sort__item__name:hover{
  color: lightgray;
}

.shopPage__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: space-evenly;
}

.shopPage__page__container{
  width: 100%;
  font-size: $fSizeText;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.shopPage__page__item{
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 5px;
}

.shopPage__page__selected{
  border: 2px solid white;
}

.shopPage__noCars{
  font-size: 4rem;
  margin-top: 30px;
}

@media screen and (max-width: 500px) {
  .shopPage__cards {
    padding: 0 10px;
  }
}