@import "../../csscomponents/default";

.shopPage__sort {
  font-size: 2rem;
  display: flex;
  width: 100%;
  border-bottom: 1px solid white;
  height: 40px;
}

.shopPage__sort__item {
  margin-left: 20px;
  height: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .3s ease all;
}

.shopPage__sort__item:hover{
  color: lightgray;
}

.shopPage__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: space-between;
}

.shopPage__page__container{
  width: 100%;
  font-size: 2rem;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .shopPage__cards {
    padding: 0 10px;
  }
}