$fSizeBigHeader: 6rem;
$fSizeHeader: 3rem;
$fSizeText: 2rem;
$fSizeInscription: 1.5rem;

.commonContainer{
  width: 100%;
}

.bold{
  font-weight: bold;
}

.noSelect{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

