%padding-0-30{
  padding: 0 30px;
}

$fSizeText: 2rem;


.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.nav{
  height: 80px;
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %padding-0-30;
}
.main{
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  height: 60px;
  width: 100%;
  border-top: 1px white solid;
  font-size: $fSizeText;
  @extend %padding-0-30;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.linkToContact{
  color: white !important;
  transition: .3s ease color;
}
.linkToContact:hover{
  color: lightgray !important;
  scale: (1.05)
}

.linkToOfficial{
  margin-left: 30px;
}
.logoImage{
  transition: .3s ease scale;
}
.logoImage:hover{
  scale: (1.05);
}

.findLogo{
  cursor: pointer;
}

.basketLogo, .findLogo{
  transition: scale .3s ease;
  box-sizing: content-box;
  padding: 5px;
  line-height: 0;
}
.basketLogo{
  margin: 0 20px;
}
.basketLogo:hover, .findLogo:hover{
  scale: (1.05);
}

.nav__right_side{
  display: flex;
}

.burger-menu{
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  padding: 5px;
}
.burger-menu:hover{
  scale: (1.05)
}

.burger-menu:after, .burger-menu:before{
  content: '';
  height: 2px;
  width: calc(80% - 8px);
  background: white;
  border-radius: 5px;
  transition: .3s transform ease;
  position: absolute;
}
.burger-menu:after{
  bottom: 9px;
}
.burger-menu:before{
  top: 9px;
}

.burger-menu{
  span{
    width: 80%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transition: .3s scale ease;
  }
}

.burger-menu.burger-activated:before{
  transform: rotate(45deg);
  top: 19px;
  width: 80%;
}
.burger-menu.burger-activated:after{
  transform: rotate(-45deg);
  bottom: 19px;
  width: 80%;
}
.burger-menu.burger-activated{
  span{
    scale: (0);
  }
}

.background{
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100vw;
  background: url("../static/photos/background.jpg") repeat;
  animation: rotateBackground 30s infinite alternate;
}

@keyframes rotateBackground {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1650px){
  html{
    font-size: 20px;
  }
  .nav, .footer{
    height: 120px;
  }
  .basketLogoSize, .findLogoSize, .burger-menu{
    width: 50px;
    height: 50px;
  }
  .basketLogo{
    margin: 0 50px;
  }
  .logoSize{
    width: 200px;
  }
  .burger-menu{
    span{
      height: 5px;
    }
  }
  .burger-menu:after, .burger-menu:before{
    height: 5px;
  }

  .burger-menu.burger-activated:before{
    top: 27px;
    width: 90%;
  }
  .burger-menu.burger-activated:after{
    bottom: 27px;
    width: 90%;
  }
}

@media screen and (max-width: 756px){
  html{
    font-size: 9px;
  }
}

@media screen and (max-width: 500px){
  html{
    font-size: 7px;
  }
  .nav, .footer{
    padding: 0 20px;
  }
  .basketLogo{
    margin: 0 10px;
  }
  .basketLogoSize, .findLogoSize{
    width: 20px;
    height: 20px;
  }
  .logoSize{
    width: 100px;
  }
  .burger-menu{
    height: 20px;
    width: 20px;
  }
  .burger-menu.burger-activated:before{
    top: 14px;
    width: 70%;
  }
  .burger-menu.burger-activated:after{
    bottom: 14px;
    width: 70%;
  }
}