@import "../../csscomponents/default";

.itemCard__container, .itemCardLoading__container{
  width: 32%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.10);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}
.itemCardLoading__container{
  height: 360px;
}
.itemCard__image, .itemCardLoading__image{
  width: 95%;
  aspect-ratio: 25/13;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.50);
  object-fit: cover;
  margin-top: 10px;
}

.itemCardLoading__image{
  background: rgba(0, 0, 0, 0.2);
}

.itemCard__name, .itemCardLoading__name{
  margin-top: 10px;
  font-size: 2rem;
  width: 95%;
  text-align: center;
  height: 50px;
}

.itemCardLoading__name{
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.itemCard__info, .itemCardLoading__info{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  margin-top: 10px;
}

.itemCardLoading__info{
  width: 95%;
  height: 80px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.itemCard__info__column_1, .itemCard__info__column_2{
  display: flex;
  flex-direction: column;
}

.itemCard__info__column_2{
  align-items: flex-end;
}

.itemCard__link, .itemCardLoading__link{
  background: black;
  border: 1px  rgba(255, 255, 255, 0.50) solid;
  font-size: 2rem;
  color: white;
  padding: 8px 12px;
  border-radius: 50px;
  margin: 10px 0;
  transition: .3s ease all;
}

.itemCardLoading__link{
  width: 89px;
  height: 42px;
  background: rgba(0, 0, 0, 0.2);
}

.itemCard__link:hover{
  background: white;
  color: black;
}

.itemCard__compare{
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  transition: .3s ease all;
}

.itemCard__compare:hover{
  transform: scale(1.05)
}

@media screen and (max-width: 650px){
  .itemCard__container, .itemCardLoading__container{
    width: 48%;
  }
  .itemCardLoading__container{
    height: 230px;
  }
}